.App {
  text-align: center;
}

.App-logo {
  height: 5.5vmin;
  pointer-events: none;
}

.shopping-cart {
  height: 3.5vmin;
}

@media (max-width: 991px) {
  .App-logo {
    height: 10vmin;
  }
  .shopping-cart {
    pointer-events: none;
    height: 10vmin;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
