.App {
  text-align: center;
}

.App-logo {
  height: 45px;
  pointer-events: none;
}

a.navbar-brand {
  font-size: medium;
} 

@media (min-width: 375px) {
  .App-logo {
    height: 45px;
  }

  a.navbar-brand {
    font-size: large;
  }
}
