.App {
  text-align: center;
}

.App-logo {
  height: 45px;
  pointer-events: none;
}

.shopping-cart {
  height: 35px;
}

a.navbar-brand {
  font-size: medium;
} 

@media (min-width: 375px) {
  .App-logo {
    height: 45px;
  }
  .shopping-cart {
    height: 40px;
  }
  a.navbar-brand {
    font-size: large;
  }
}
